<!DOCTYPE html>
<html lang="en">
<head>
    <Title>Login page</Title>
</head>
<body>
    <% if (session && session.loginerror) { %>
        <div class="messages">
            <p><%= session.loginerror %></p>
        </div>
    <% } %>
    <% if (session && session.welcome) { %>
    <div class="messages">
        <p><%= session.welcome %></p>
    </div>
    <% } %>
    <div class="formBox">
        <form name="login" action="/auth" method="POST">
            <div class="formField">
                <input
                        type="text"
                        name="email"
                        id="email"
                        placeholder="Email address"
                        required
                />
            </div>
            <div class="formField">
                <input
                        type="password"
                        name="pword"
                        id="pword"
                        placeholder="Password"
                        required
                />
            </div>
            <div class="formField">
                <input type="submit"/>
            </div>
        </form>
    </div>
    <div>
        <p>No login? <a href="register.html">No problem! Click here to register.</a></p>
    </div>
</body>
</html>