body {
    background-color: #333333;
    color: #e3dac9;
    font-family: sans-serif;
}

.calcPanel {
    border-style: solid;
    border-width: 1px;
    border-color: #e3dac9;
    width: 400px;
}

.outputColumn {
    float: left;
    padding: 1rem;
}

.panelTitle {
    font-weight: bold;
    text-decoration: underline;
}

#bestChoice {
    clear: left;
}
