body {
    background-color: #333333;
    color: #e3dac9;
    font-family: sans-serif;
}

.calcPanel {
    border-style: solid;
    border-width: 1px;
    border-color: #e3dac9;
    width: 402px;
    text-align: center;
    padding: 10px;
}

.outputColumn {
    float: left;
    text-align: left;
    min-width: 200px;
}

.panelTitle {
    font-weight: bold;
    text-decoration: underline;
}
